body {
  margin: 10px 50px;
  background-color: ivory;
  color: darkblue;
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

/* logo inline with text */
.logo {
  width: 100px;
  float: left;
  margin: 0 12px 6px 0;
}